<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>

<form action="/users/edit" method="post">
    <input type="hidden" th:name="id" th:value="${user.id}"/>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:name="firstName" th:value="${user.firstName}" required/><br/><br/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:name="lastName" th:value="${user.lastName}" required/><br/><br/>

    <label for="email">Email:</label>
    <input type="email" id="email" th:name="email" th:value="${user.email}" required/><br/><br/>

    <button type="submit">Update User</button>
</form>

<a href="/users">Back to Users List</a>

</body>
</html>
